/*global settings*/

img {
    max-width: 100%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h4 {
    color: #0067FF;
}

.btn {
    border-radius: 25px;
}

.pad_top_170 {
    padding-top: 170px;
}

/*Fonts*/
.dm-sans {
    font-family: 'DM Sans', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.f-w700 {
    font-weight: 700;
}

.f-w550 {
    font-weight: 550;
}

.f-w400 {
    font-weight: 400;
}

.f-s50 {
    font-size: 50px;
}

.f-s16 {
    font-size: 16px;
}

.f-s14 {
    font-size: 14px;
}


/*start header*/


.top_header svg {
    margin-top: 10px;
    margin-right: 15px;

}

.margin0 p {
    margin-bottom: 0;
}

/*end header*/
/*start best_medical*/

.best_medical {
    background: #8BD5DC;
    position: relative;
}

.best_medical h1, p {
    max-width: 538px;
}

.best_medical_text {
    position: absolute;
    top: 20%;
    left: 18.5%;
}

/*end best_medical*/
/*start medical_services*/

.medical_services {
    background: rgba(216, 228, 255, 0.65);
}


.medical_services_div {
    min-height: 290px;
    background-color: #b7ffa0;
    margin-bottom: 20px;
    text-align: center;

}

.small_sq {
    height: 50px;
    width: 50px;
    background: rgba(0, 103, 255, 0.06);
    margin: 10px auto;
}

/*.medical_services_div svg{*/
/*    margin: 10px auto ;*/

/*}*/


.arrow {
    margin-top: 10px;

}

/*ean medical_services*/
/*start about_medicalife*/

.about_medicalife_big_img {
    z-index: -1;
    position: relative;
}

.about_medicalife_small_img {
    position: absolute;
    top: 61%;
}

.blue_sq_about {
    width: 475px;
    height: 595px;
    border-radius: 20px;
    background: #0067FF;
    position: absolute;
    top: 5%;
    left: 11%;
    z-index: -2;
}

.svg_about {
    padding: 0;
}

.about_medicalife ul {
    list-style: none;
}

.about_medicalife ul li:before {
    content: '✓';
    color: #4C40F7;
}

/*end about_medicalife*/
/*start how_it_works*/

.circle_how_it {
    background-color: #4C40F7;
    height: 59px;
    width: 59px;
    border-radius: 50%;
}

.circle_how_it svg {
    display: block;
    margin: 15px 15px;
}

.how_it_works{
    padding-top: 250px;
}

.main_img_4 img{
    border-radius: 8px;
}

.list_4{
    padding-left: 20px;
}


